body {
    margin: 0;
    padding: 0;
    background-image: url("img/ddd.jpg");

}

.bday {
    margin-top: 80px;
    text-align: center;
    background: linear-gradient(180deg, #ff9966 0%, #ffcc66 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-size: 80px;
    font-family: bday;
}
.month{
    margin-top: 20px;
    text-align: center;
    background: linear-gradient(180deg, #ff9966 0%, #e01a08 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-size: 40px;
    font-family: bday;
}
.name {
    padding-right: 100px;
    margin-left: 450px;
    margin-top: 500px;
    text-align: center;
    background: linear-gradient(180deg, #dd5c17 0%, #ffffe0 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    font-size: 180px;
    font-family: bday;
    display: inline-block;
}

.name:hover {
    -webkit-box-reflect: below -8px -webkit-gradient(linear, right top, right bottom, from(transparent),
            color-stop(85%, transparent), to(rgba(42, 99, 99, 1)));
}
.wrapper{
    position: relative;
    width: 320px;
    margin: 50px auto;
    perspective: 1000px;
    margin-bottom: 500px;
}
.img-area{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(-360deg) translateZ(-300px);
    animation: animate 25s steps(1000,end) infinite;
}
.single-img{
    position: absolute;
    width: 300px;
    height: 200px;
    top: 10px;
    left: 10px;
}
.single-img img{
    width: 300px;
    height: 200px;
    border: 5px solid #fff;
}
.single-img.img-one{
    transform: rotateY(0deg) translateZ(300px);
}
.single-img.img-two{
    transform: rotateY(60deg) translateZ(300px);
}
.single-img.img-three{
    transform: rotateY(120deg) translateZ(300px);
}
.single-img.img-four{
    transform: rotateY(180deg) translateZ(300px);
}
.single-img.img-five{
    transform: rotateY(240deg) translateZ(300px);
}
.single-img.img-six{
    transform: rotateY(300deg) translateZ(300px);
}
img{
    filter: grayscale(90%);
    transition: 0.5s;
    cursor: pointer;
}
img:hover{
    transform: 0.5s;
    filter:grayscale(0);
}
@keyframes animate{
    from{
        transform: rotateY(-360deg);
    }
    to{
        transform: rotateY(0deg);
    }
}
@font-face {
    font-family: bday;
    src: url(bday.TTF);
}
